header {
	padding-top: $gutter;
    padding-bottom: 5px;

	h1 {
		img {
		    display: block;
		    width: 100%;
		    max-width: 290px;
		    margin: 0 auto $gutter;
		}
	}

	p {
		text-align: center;
		padding: 0 40px;
		font-size: 1.2em
	}
}
