.share-links {
	text-align: right;
	margin-bottom: -5px;

	a {
		@include icon('facebook-with-circle');

		color: $light-text-color;

		&:before {
			font-size: 1.3em;
		}

		&:hover {
			color: $primary-color;
		}
	}

	a.twitter:before {
		content: map-get($icon-codes, 'twitter-with-circle')
	}

	a.google-plus:before {
		content: map-get($icon-codes, 'google-with-circle')
	}
}
