<section class="country-details" data-role="country-details">
	<div class="share-links">
		<a class="facebook" href="#" title="Share on Facebook"></a></li>
		<a class="twitter" href="#" title="Share on Twitter"></a></li>
		<a class="google-plus" href="#" title="Share on Google Plus"></a></li>
	</div>

	<h1 data-role="country-name"><!-- filled by javascript --></h1>

	<table data-role="country-details-table">
		<tbody>
			<tr class="region"><td>Region</td><td data-role="country-region"><!-- filled by javascript --></td></tr>
			<tr class="capital"><td>Capital</td><td data-role="country-capital"><!-- filled by javascript --></td></tr>
			<tr class="population"><td>Population</td><td data-role="country-population"><!-- filled by javascript --></td></tr>
			<tr class="currencies"><td>Currencies</td><td data-role="country-currencies"><!-- filled by javascript --></td></tr>
			<tr class="timezones"><td>Timezones</td><td data-role="country-timezones"><!-- filled by javascript --></td></tr>
		</tbody>
	</table>
</section>
