<section class="map-container" id="map-container"><!-- filled by javascript --></section>

<script src="scripts/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClKqV2YtVG-jxWTx6BzXn1MmZJM9ptj30&callback=initMap"></script>
