<form class="report-form" data-role="report-form">
	<p>
		<input type="text" name="name" placeholder="Your Name" />
	</p>
	<p>
		<input type="text" name="email" placeholder="Your E-Mail" />
	</p>
	<p>
		<textarea name="message" placeholder="Tell us what you found!"></textarea>
	</p>
	<p>
		<input type="submit" value="Submit" /> 
	</p>
</form>
