{{> share-links}}

{{> country-details }}

{{> map }}

<section class="page-options">
	<a class="back-link" href="index.html">Back to list</a>
	<a class="report-link" href="report.html">Report an error</a>
</section>
