<div class="country-list" data-role="country-list">
	<input data-role="country-list-filter">

	<table>
		<thead>
			<tr>
				<th>
					Country Name
					<span title="sort ascending" class="sort sort-active sort-asc" data-role="country-sort" data-sort-order="asc"></span>
					<span title="sort descending" class="sort sort-desc" data-role="country-sort" data-sort-order="desc"></span>
				</th>
				<th>
					Population
					<span title="sort ascending" class="sort sort-asc" data-role="country-sort" data-sort-order="asc"></span>
					<span title="sort descending" class="sort sort-desc" data-role="country-sort" data-sort-order="desc"></span>
				</th>
			</tr>
		</thead>

		<tbody>
			<!-- filled by javascript -->
		</tbody>
	</table>
</div>
