<h1>Error report</h1>

<p>Thank you for helping us improve coolcountries.org!</p>

{{> report-form }}

<section class="page-options">
	<a class="back-link" href="javascript: history.go(-1)">Back</a>
</section>
