<!DOCTYPE html>
<html>
  <head>
    <title>cool countries</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
      {{> body}}

	  <script data-main="scripts/build" src="scripts/lib/require.js"></script>
  </body>
</html>
